### Analysing my own runs

#### Importing libraries

In [25]:
import pandas as pd

### Reading the data

In [26]:
data_runs = pd.read_csv("C:\\Users\\JuanCarlosSaraviaDra\\Dropbox\\Activities_garmin_VF.csv", sep=';')

data_runs.head()

,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Total Ascent,...,Avg Stride Length,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation,run_date,run_time,run_year
0,4.15,228,00:23:28,142,157,168,177,05:39,04:39,6,...,1.05,00:35.8,5,00:23:17,00:23:28,90,257,11/12/2023,07:27:43,2023
1,6.04,355,00:34:06,153,171,174,193,05:39,04:03,40,...,1.02,00:10.2,7,00:33:57,00:34:06,189,276,9/12/2023,06:38:37,2023
2,8.09,446,00:44:02,151,173,176,193,05:27,04:12,11,...,1.04,00:21.6,9,00:43:52,00:44:02,179,249,8/12/2023,06:16:54,2023
3,3.13,207,00:21:24,145,172,168,183,06:51,04:40,2,...,0.87,00:34.6,4,00:21:16,00:21:24,162,217,7/12/2023,16:59:28,2023
4,4.02,234,00:22:53,153,180,170,181,05:42,04:09,2,...,1.03,00:04.9,5,00:22:52,00:22:53,84,240,6/12/2023,06:15:05,2023

,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Total Ascent,...,Avg Stride Length,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation,run_date,run_time,run_year
0,4.15,228,00:23:28,142,157,168,177,00:05:39,00:04:39,6,...,1.05,00:35.8,5,00:23:17,00:23:28,90,257,11/12/2023,07:27:43,2023
1,6.04,355,00:34:06,153,171,174,193,00:05:39,00:04:03,40,...,1.02,00:10.2,7,00:33:57,00:34:06,189,276,9/12/2023,06:38:37,2023
2,8.09,446,00:44:02,151,173,176,193,00:05:27,00:04:12,11,...,1.04,00:21.6,9,00:43:52,00:44:02,179,249,8/12/2023,06:16:54,2023
3,3.13,207,00:21:24,145,172,168,183,00:06:51,00:04:40,2,...,0.87,00:34.6,4,00:21:16,00:21:24,162,217,7/12/2023,16:59:28,2023
4,4.02,234,00:22:53,153,180,170,181,00:05:42,00:04:09,2,...,1.03,00:04.9,5,00:22:52,00:22:53,84,240,6/12/2023,06:15:05,2023