### Analysing my own runs

#### Importing libraries

In [11]:
import pandas as pd
import seaborn as sn

### Reading the data

In [3]:
data_runs = pd.read_csv("C:\\Users\\JuanCarlosSaraviaDra\\Dropbox\\Activities_garmin_VF.csv", sep=',')

data_runs.head()

,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Total Ascent,...,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation,run_date,run_time,run_year,Day_time
0,4.15,228,00:23:28,142,157,168,177,0 days 00:05:39,0 days 00:04:39,6,...,00:35.79,5,00:23:17,00:23:28,90,257,2023-12-11,0 days 07:27:43,2023,Mañana
1,6.04,355,00:34:06,153,171,174,193,0 days 00:05:39,0 days 00:04:03,40,...,00:10.19,7,00:33:57,00:34:06,189,276,2023-12-09,0 days 06:38:37,2023,Mañana
2,8.09,446,00:44:02,151,173,176,193,0 days 00:05:27,0 days 00:04:12,11,...,00:21.59,9,00:43:52,00:44:02,179,249,2023-12-08,0 days 06:16:54,2023,Mañana
3,3.13,207,00:21:24,145,172,168,183,0 days 00:06:51,0 days 00:04:40,2,...,00:34.64,4,00:21:16,00:21:24,162,217,2023-12-07,0 days 16:59:28,2023,Tarde
4,4.02,234,00:22:53,153,180,170,181,0 days 00:05:42,0 days 00:04:09,2,...,00:04.89,5,00:22:52,00:22:53,84,240,2023-12-06,0 days 06:15:05,2023,Mañana

In [10]:

data_runs['Avg Pace'] = pd.to_timedelta(data_runs['Avg Pace'])
data_runs['Best Pace'] = pd.to_timedelta(data_runs['Best Pace'])
data_runs['run_time'] = pd.to_timedelta(data_runs['run_time'])
data_runs['Time'] = pd.to_timedelta(data_runs['Time'])

data_runs.head()

,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Total Ascent,...,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation,run_date,run_time,run_year,Day_time
0,4.15,228,0 days 00:23:28,142,157,168,177,0 days 00:05:39,0 days 00:04:39,6,...,00:35.79,5,00:23:17,00:23:28,90,257,2023-12-11,0 days 07:27:43,2023,Mañana
1,6.04,355,0 days 00:34:06,153,171,174,193,0 days 00:05:39,0 days 00:04:03,40,...,00:10.19,7,00:33:57,00:34:06,189,276,2023-12-09,0 days 06:38:37,2023,Mañana
2,8.09,446,0 days 00:44:02,151,173,176,193,0 days 00:05:27,0 days 00:04:12,11,...,00:21.59,9,00:43:52,00:44:02,179,249,2023-12-08,0 days 06:16:54,2023,Mañana
3,3.13,207,0 days 00:21:24,145,172,168,183,0 days 00:06:51,0 days 00:04:40,2,...,00:34.64,4,00:21:16,00:21:24,162,217,2023-12-07,0 days 16:59:28,2023,Tarde
4,4.02,234,0 days 00:22:53,153,180,170,181,0 days 00:05:42,0 days 00:04:09,2,...,00:04.89,5,00:22:52,00:22:53,84,240,2023-12-06,0 days 06:15:05,2023,Mañana